.pageNotFound {
  position: relative;
  background-color: #1a1a1a;
  height: 100vh;
  color: white;

  .container {
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    #errCode {
      font-size: 60px;
    }

    .text1 {
      letter-spacing: 1px;
      margin-top: 36px;
    }

    .text2 {
      margin-top: 36px;
      font-size: larger;
      font-size: 2rem;
    }
  }

  .guide {
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: center;

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    .homeBtn {
      display: inline-block;
      background-color: #0070ec;
      color: #fff;
      padding: 20px 30px;
      text-decoration: none;
      border-radius: 5px;
      font-size: larger;
      transition: background-color 0.3s ease;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 50px #004494;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin: auto;

    #errCode {
      font-size: 40px; /* Adjusted font size for smaller screens */
    }

    .text1 {
      margin-top: 24px; /* Adjusted margin for smaller screens */
    }

    .text2 {
      font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
  }

  .guide {
    margin-top: 48px; /* Adjusted margin for smaller screens */

    .homeBtn {
      padding: 15px 25px; /* Adjusted padding for smaller screens */
      font-size: medium; /* Adjusted font size for smaller screens */
    }
  }
}
