.heading-container {
    text-align: center;
    padding: 10px;
  }
  
  .heading {
    font-size: 28px;
    font-weight: bold;
    color: #fff; 
    margin-bottom: 10px;
    position: relative;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(0, 173, 181, 0.9), rgb(255, 255, 255),rgba(0, 173, 181, 0.9));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}


  
    