.see-btn{
    padding: 7px 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none !important;
    border: none;
    transition-duration: 0.4s;
}