.adminLayout {
  p {
    margin: 0;
  }

  img {
    flex: none;
  }

  .container {
    height: 100svh;
    display: grid;
    grid-template-areas:
      'sidebar header'
      'sidebar content';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}
