.play-arena-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
}

.play-arena-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 48%;
  height: 250px;
  margin-bottom: 20px;
  transition: all 0.3s;

  .content {
    padding: 20px;
    margin-right: 50%;
  }

  h2 {
    color: #1a1a1a;
    text-align: left;
  }

  p {
    color: #292929;
    margin-top: 10px;
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    border-radius: 0 8px 8px 0;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
  }

  &.selected {
    background-color: #242423;
    border: 1px solid #ffffff;
    box-shadow: 0 0px 8px rgba(237, 233, 233, 0.751);

    h2,
    p {
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .play-arena-cards {
    flex-direction: column;
  }

  .card {
    width: 90%;
    margin-bottom: 10px;

    .content {
      margin-right: 0;
    }

    .image {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }
}
