.test {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin rounded-corners($radius: 1rem) {
  border-radius: $radius;
}

@mixin button-styles($bg-color, $text-color, $hover-color) {
  padding: 0.5rem 1rem;
  height: 40px;
  font-weight: 550;
  width: 110px;
  margin-left: 0.5rem;
  border: none;
  color: $text-color;
  background-color: $bg-color;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}
.butonat-menu {
  display: none;
}
.butonat-nav {
  padding: 0;
  margin: 0;
  display: none;
}
.butonat-client {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  button {
    @include button-styles(#95bfd834, #ffffff, #c2e0f134);
  }

  button:last-child {
    @include button-styles(#ffffffff, #ffffff, rgb(160, 158, 158));
    color: black;
  }
}

.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1a1a;
  padding: 1rem 2rem;
  border-bottom: 3px solid white;

  .navbar-logo {
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    height: 55px;
    margin: 0 auto;
    padding-left: 5px;
    background-color: #282828;
    border-radius: 2rem;

    li {
      margin-right: 10px;

      a,
      .nav-link {
        color: #ffffff;
        padding: 0.7rem 1rem;
        text-decoration: none;

        &.home {
          background-color: #fff;
          color: #1a1a1a;
          font-weight: 550;
          border-radius: 2rem;
        }

        &.pricing {
          background-color: #333333;
          border-radius: 2rem;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    padding-right: 0px;

    .bar {
      height: 3px;
      width: 25px;
      background-color: #8b8a8a;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
  &.menu-open {
    .hamburger-menu {
      // Styles for X icon
      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 7.5px);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -7.5px);
      }
    }
  }

  // per tableta
  @media screen and (max-width: 820px) {
    .butonat-client {
      display: none;
    }
    .navbar {
      display: block;
    }
    .navbar-links,
    .btn {
      display: none;
      flex-direction: column;
      background-color: #333333;
      position: absolute;
      height: auto;
      left: 0;
      width: 100%;
      z-index: 1;
      .butonat-nav {
        padding: 0.5rem 1rem;
        height: 40px;
        font-weight: 550;
        width: 250px;
        margin-left: 0.5rem;
        margin-bottom: 10px;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &:first-child {
          background-color: #808080;
          color: white; // Grayish background for "Log In"
        }

        &:last-child {
          background-color: white; // Beige background for "Sign Up"
        }
      }

      &.menu-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; // Center vertically
        position: absolute;
        top: 1px; // Adjust as needed
        left: 0;
        width: 100%;
        padding-left: 0;
        margin-top: 100px;
        background-color: #282828;

        a {
          border-bottom: 1px solid white;
        }
        @include rounded-corners;
        .butonat-nav {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      li {
        margin: 40px 0px;

        .nav-link {
          padding: 1rem;
          color: #fff;
          border-bottom: solid rgb(215, 213, 213);

          &.home {
            background-color: #fff;
          }
          &.pricing {
            background-color: #333333;
            border-radius: 0;
          }
        }
      }

      .navbar-buttons {
        margin-top: 20px; // Adjust as needed
        button {
          width: 100%;
          margin-bottom: 10px; // Adjust as needed
        }
      }
    }

    .hamburger-menu {
      display: block;
      z-index: 2;
    }
  }

  // per telefona
  @media screen and (max-width: 480px) {
    .hamburger-menu {
      display: block;
    }
    .navbar-links {
      margin: 0;
      padding: 0;
      &.menu-open {
        text-align: center;
        margin-top: 100px;
        padding-left: 0px;
        .butonat-nav {
          padding: 0.5rem 1rem;
          height: 40px;
          font-weight: 550;
          width: 250px;
          margin-left: 0.5rem;
          margin-bottom: 10px;
          margin-top: 10px;
          border: none;
          border-radius: 2rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &:first-child {
            background-color: #808080;
            color: white; // Grayish background for "Log In"
          }

          &:last-child {
            background-color: white; // Beige background for "Sign Up"
          }
        }
        li {
          margin: 25px;
        }
      }
    }
    .hamburger-menu {
      padding: 0;
    }
    .navbar-logo {
      font-size: 1rem;
    }
  }
}
