.notificationCenter {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;

  .bell-button {
    position: absolute;
    top: -22px;
    right: -54px;
    width: 0;
    cursor: pointer;
    background-color: #ffffff;
    width: 22px;
    height: 22px;
    max-width: 40px;
    border-radius: 100%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f2f2f;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e1e1e1;
    }

    &:active {
      transform: scale(95%);
    }
  }

  .notification-container {
    position: absolute;
    z-index: 500;
    right: -220px;
    top: 22px;
    margin-top: 6px;
    background-color: white;
    border-radius: 18px;
    border: 1px solid #2f2f2f;
    max-width: 18rem;
    min-width: 12rem;
    max-height: 16rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px;
    overflow-y: hidden;
    overflow-y: auto;

    .msg-container {
      display: flex;
      gap: 5px;
      background-color: #006eec3f;
      border-radius: 11px;
      padding: 6px 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      font-size: 0.9rem;

      &:hover {
        background-color: #006eecb0;
      }

      &:active {
        transform: scale(95%);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
