.devDiary {
  min-height: 100vh;
  padding: 2rem 5rem;
  padding-bottom: 2rem;
  background-color: #07121a;

  .diaryBody {
    margin: auto;
    padding: 2rem 3rem;
    padding-top: 5rem;
    background-color: #06141d;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;

    .cardContainer {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .devDiary {
    padding: 1rem 2rem;

    .diaryBody {
      .cardContainer {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 564px) {
  .devDiary {
    padding: 1rem 2rem;

    .diaryBody {
      .cardContainer {
        width: 100%;
        margin-left: 0;
      }
    }

    .contacts {
      display: none;
    }
  }
}
